/* Banner */
#banner {
  background-image: url("../images/banner2e3.jpg");
}

#logo {
  position: relative;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  height: auto;
  min-width: 240px;
  width: 32%;
}

#logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  vertical-align: top;
}

#logo img:first-child {
  position: static;
}

/* End Banner */

/* Title */

.section-header {
  text-align: center;
  font-size: 28px;
  line-height: 1.1;
}

.script {
  display: block;
  font-family: 'Dancing Script', cursive;
  color: #d3b73e;
  font-weight: bold;
  font-size: 30px;
}

.text-titlu {
  display: block;
  font-family: 'Roboto', sans-serif;
  color: #aa1f1d;
  font-weight: 500;
  letter-spacing: .05em;
}

.titlu-underline {
  margin-top: 15px;
  background-image: url("../images/underline.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  display: block;
  height: 20px;
}

/* End title */

/* Restaurant */

.card-titlu {
  font-size: 30px;
  font-family: 'Cardo', serif;
  color: #d3b73e;
  margin-bottom: 5px;
}

.card-content {
  font-size: 20px;
  font-family: 'Cardo', serif;
}

.card {
  text-align: center;
  box-sizing: border-box;
  position: relative;
  padding: 5px;
}

.card img {
  width: 100%;
}

/* End Restaurant */

/* Cazare */
#cazare-bck {
  background-image: url("../images/banner-cazare-text.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px;
  margin-bottom: 60px;
  padding-top: 50px;
}

#cazare-bck p {
  text-align: center;
  width: 70%;
  display: block;
  margin: auto;
  color: white;
  font-family: 'Cardo', serif;
  font-size: 20px;
}

@media(min-width: 750px) {
  #cazare-bck p {
    width: 30%;
  }
}
/* End Cazare */

/* Button */
.index-cta {
  display: inline-block;
  text-decoration: none;
  color: #d3b73e;
  padding: 10px 20px;
  position: relative;
  left: 50%;
  padding: 5px 20px;
  font-size: 20px;
  margin-top: 10px;
  -webkit-transform: translate(-50%) !important;
          transform: translate(-50%) !important;
  transition: all 0.3s ease-in-out;
}

.index-cta:hover {
  color: white;
}

.border-animated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d3b73e;
  -webkit-transform:scale(1, 0);
          transform:scale(1, 0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: -1;
  transition: transform .2s linear;
}

.border-animated:hover::before {
  transform: scale(1, 1);
}

.border-animated .border-span {
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  /*border: 1px solid #d3b73e;*/
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.border-animated .top {
  border-top: 1px solid #d3b73e;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.border-animated .right {
  border-right: 1px solid #d3b73e;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition-delay: .45s;
          transition-delay: .45s;
}

.border-animated .bottom {
  border-bottom: 1px solid #d3b63e;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
-webkit-transition-delay: .2s;
        transition-delay: .2s;
}

.border-animated .left {
  border-left: 1px solid #d3b73e;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition-delay: .45s;
          transition-delay: .45s;
}
.border-animated.animated .top {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.border-animated.animated .left {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.border-animated.animated .bottom {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.border-animated.animated .right {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

/* End Button */
